name: Deploy Function App

permissions:
      id-token: write
      contents: read

on:
  push:
    branches:
      - master
      - main
    paths:
      - "**.go"
      - "bicep/**"
      - "function-go/**"
  workflow_dispatch:

env:
  DEPLOYMENTNAME: "azfunc-${{ github.run_id }}"
  RESOURCEGROUPNAME: "mxe21"
  AZURE_FUNCTIONAPP_NAME: mxe21v2

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: "Checkout GitHub Action"
        uses: actions/checkout@v5

      - name: "Login"
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: "Deploy Azure Resources"
        uses: azure/arm-deploy@v2
        with:
          scope: 'resourcegroup'
          deploymentName: ${{ env.DEPLOYMENTNAME  }}
          resourceGroupName: ${{ env.RESOURCEGROUPNAME }}
          template: ./bicep/main.bicep
          parameters: ./bicep/main.parameters.json

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.19" # Azure functions does not support newer as of now

      - name: Build app
        run: go build -ldflags="-s -w" -o main .
        working-directory: function-go/src

      - name: Deploy Function
        uses: Azure/functions-action@v1
        id: fa
        with:
          app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
          package: "./function-go"
