name: golangci-lint
on:
  push:
    branches:
      - master
      - main
    paths:
      - "**.go"
  pull_request:
    branches:
      - master
      - main
    paths:
      - "**.go"
  workflow_dispatch:

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          working-directory: function-go/src
